:root { --color-neutral: 255, 255, 255;
--color-neutral-50:     255,255,255;
--color-neutral-100:    246,243,247;
--color-neutral-200:    211,199,214;
--color-neutral-300:    177,155,182;
--color-neutral-400:    142,111,149;
--color-neutral-500:    101,78,106;
--color-neutral-600:    79,61,82;
--color-neutral-700:    56,43,59;
--color-neutral-800:    34,26,35;
--color-neutral-900:    11,9,12;
--color-primary-50:     255,255,255;
--color-primary-100:    253,207,255;
--color-primary-200:    250,131,255;
--color-primary-300:    247,54,255;
--color-primary-400:    224,0,233;
--color-primary-500:    150,0,156;
--color-primary-600:    111,0,115;
--color-primary-700:    72,0,74;
--color-primary-800:    32,0,34;
--color-primary-900:    0,0,0;
--color-secondary-50:     255,255,255;
--color-secondary-100:    255,255,255;
--color-secondary-200:    247,235,254;
--color-secondary-300:    219,163,249;
--color-secondary-400:    191,92,244;
--color-secondary-500:    163,20,239;
--color-secondary-600:    138,14,204;
--color-secondary-700:    112,11,166;
--color-secondary-800:    87,9,128;
--color-secondary-900:    61,6,90;
}
